@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukButton: GovukButton,  formHelper: FormWithCSRF, govukInput: GovukInput, govukBackLink: GovukBackLink)
@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)
@govukBackLink(BackLink(href = routes.HomeController.index().url))

<h1 class="govuk-heading-xl">Calculator</h1>
<div class="govuk-inset-text">
          Please Enter your yearly salary Gross.
</div>

@formHelper(action = routes.CalculatorController.calculate(), 'autoComplete -> "off") {
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="salary">
        Salary Gross
    </label>
    </h1>
    <input class="govuk-input" id="salary" name="salary" type="number">
</div>

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="taxCode">
        TaxCode
    </label>
    </h1>
    <select class="govuk-input" id="taxCode" name="taxCode" type="text">Chose Letter
        <option value="L">1257L</option>
        <option value="M">1257M</option>
        <option value="N">1257N</option>
    </select>
    <br>
    <a href="https://www.gov.uk/tax-codes/what-your-tax-code-means">Some more explanation on Tax codes</a>
</div>
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="pensionCount">
        Pension Contribution
    </label>
    </h1>
    <input class="govuk-input" id="pensionCount" name="pensionCount" type="number">
</div>
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="stdLoan">
        Student Loan Payments
    </label>
    </h1>
    <input class="govuk-input" id="stdLoan" name="stdLoan" type="number">
</div>
    @govukButton(ButtonViewModel( content = HtmlContent("Calculate")))
}
