@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukButton: GovukButton,  formHelper: FormWithCSRF, govukInput: GovukInput, govukBackLink: GovukBackLink)
@(form: Form[_], mode: Mode, id: String)(implicit request: Request[_], messages: Messages)
@govukBackLink(BackLink(href = routes.HomeController.index().url))

<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
    <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="@routes.ExpenseController.index()" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
            <span class="govuk-pagination__link-label">Add Expenses</span></a>
    </div>
    <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="@routes.ExpenseListController.list()" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
            <span class="govuk-pagination__link-label">View Expenses</span></a>
    </div>
</nav>
<h1 class="govuk-heading-xl">Calculator</h1>
<div class="govuk-inset-text">
     @id
          Please Enter your yearly salary Gross.
</div>

@formHelper(action = routes.CalculatorController.calculate(), 'autoComplete -> "off") {
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="salary">
        Salary Gross
    </label>
    </h1>
    <input class="govuk-input" id="salary" name="salary" type="number">
</div>

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="taxCode">
        TaxCode
    </label>
    </h1>
    <select class="govuk-input" id="taxCode" name="taxCode" type="text">Chose Letter
        <option value="L">1257L</option>
        <option value="M">1257M</option>
        <option value="N">1257N</option>
    </select>
    <br>
    <a href="https://www.gov.uk/tax-codes/what-your-tax-code-means">Some more explanation on Tax codes</a>
</div>
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="pensionCount">
        Pension Contribution
    </label>
    </h1>
    <input class="govuk-input" id="pensionCount" name="pensionCount" type="number">
</div>
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="stdLoan">
        Student Loan Payments
    </label>
    </h1>
    <input class="govuk-input" id="stdLoan" name="stdLoan" type="number">
</div>
    @govukButton(ButtonViewModel( content = HtmlContent("Calculate")))
}
