@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views.Implicits._
@import views.html.calculator.CalculatorPage


@this(layout: Layout, content: CalculatorPage)
@(pageTitle: String, heading: String, message: String, form: Form[CalculatorFormData], id: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play._

@layout(pageTitle = pageTitle, isWelshTranslationAvailable = true) {
    @content(form, NormalMode, id)
}