@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views.Implicits._
@import uk.gov.hmrc.hmrcfrontend.views.html.components.implicits._


@this(hmrcLayout: HmrcLayout, govukBackLink: GovukBackLink)

@(expenses: List[Expense])
<head>
 <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
 <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.9.2/dist/umd/popper.min.js" ></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
 <div class="govuk-pagination__prev">
  <a class="govuk-link govuk-pagination__link" href="@routes.CalculatorController.index()" rel="prev">
   <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
   </svg>
   <span class="govuk-pagination__link-label">Calculator</span>
  </a>
 </div>
 <div class="govuk-pagination__next">
  <a class="govuk-link govuk-pagination__link" href="@routes.ExpenseController.index()" rel="next">
   <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
   </svg>
   <span class="govuk-pagination__link-label">Add Expenses</span>
  </a>
 </div>
</nav>
<div class="content-container">

 <h2>Expense Table</h2>
 <table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
   <th scope="col" class="govuk-table__header govuk-!-width-one-half">Date</th>
   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Category</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  @for(expense <- expenses) {
  <tr class="govuk-table__row">
   <th scope="row" class="govuk-table__header govuk-!-width-one-half">@expense.date.day / @expense.date.month / @expense.date.year</th>
   <td class="govuk-table__cell govuk-!-width-one-quarter">£@expense.amount</td>
   <td class="govuk-table__cell govuk-!-width-one-quarter">@expense.category</td>
  </tr>
  }
  </tbody>
 </table>
</div>