@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views.Implicits._
@import uk.gov.hmrc.hmrcfrontend.views.html.components.implicits._


@this(
    formHelper: FormWithCSRF,
    govukBackLink: GovukBackLink,
    govukButton: GovukButton,
    govukDateInput: GovukDateInput,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukLabel: GovukLabel,
    govukSelect: GovukSelect,
    layout: Layout,
)

@(form: Form[_], mode: Mode, salary: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play._

@layout(pageTitle = title(form, messages("Expense")), isWelshTranslationAvailable = true) {
    @govukBackLink(BackLink(href = routes.HomeController.index().url))
    <h1 class="govuk-heading-xl">@messages("Add an expense")</h1>
    <h2>Your Salary after tax: £@salary</h2>

    @formHelper(action = routes.ExpenseController.create(), 'autoComplete -> "off") {

        @govukDateInput(DateInput(
            id = "date",
            hint = Some(Hint(content = Text("For example, 27 3 2007"))),
            fieldset = Some(Fieldset(
                            legend = Some(Legend(
                                classes = "govuk-fieldset__legend--l",
                                isPageHeading = false)
                            )
            ))
            ).withFormField(form("date")),
        )

        @govukInput(
            InputViewModel(
                field = form("amount"),
                label = LabelViewModel(messages("Amount (£)"))
            )
        )

        @govukSelect(Select(
            id = "category",
            name = "category",
            items = Seq(
                SelectItem(
                    value = Some("Groceries"),
                    text = "Groceries",
                    selected = true
                ),
                SelectItem(
                    value = Some("Transport"),
                    text = "Transport",
                ),
                SelectItem(
                    value = Some("Energy"),
                    text = "Energy",
                ),
                SelectItem(
                    value = Some("Water"),
                    text = "Water",
                ),
                SelectItem(
                    value = Some("Socialising"),
                    text = "Socialising",
                ),
                SelectItem(
                    value = Some("Other"),
                    text = "Other",
                )
            ),
            label = Label(
            content = Text("Category")
            )
        ))

        @govukButton(ButtonViewModel (content = HtmlContent("Add Expense")))
    }
}