@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views.Implicits._

@this(
    formHelper: FormWithCSRF,
    govukButton: GovukButton,
    govukInput: GovukInput,
    govukBackLink: GovukBackLink
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukBackLink(BackLink(href = routes.HomeController.index().url))

<h1 class="govuk-heading-l">Sign In</h1>

@formHelper(action = routes.LoginController.login(), 'autoComplete -> "off") {

    @govukInput(Input(
        id = "username",
        name = "username",
        label = Label(content = Text("Username")),
        value = form("username").value,
        errorMessage = form("username").error.map(err => ErrorMessage(content = Text(messages("This field must not be blank")))),
        classes = "govuk-!-width-one-half",
    ))

    @govukInput(Input(
        id = "password",
        name = "password",
        label = Label(content = Text(messages("Password"))),
        value = form("password").value,
        errorMessage = form("password").error.map(err => ErrorMessage(content = Text(messages("This field must not be blank")))),
        classes = "govuk-!-width-one-half",
        inputType = "password"
    ))

    @govukButton(ButtonViewModel(content = HtmlContent("Log In")))
}





