@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views.Implicits._
@import uk.gov.hmrc.hmrcfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views.viewmodels.input.PrefixOrSuffix

@import viewmodels.InputWidth._

@this(
    formHelper: FormWithCSRF,
    layout: views.html.Layout,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton,
    govukBackLink: GovukBackLink,
    govukHint: GovukHint
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play._

@layout(pageTitle = title(form, messages("User")), isWelshTranslationAvailable = true) {
    @govukBackLink(BackLink(href = routes.HomeController.index().url))

    <h1 class="govuk-heading-l">@messages("Create an Account")</h1>

    @formHelper(action = routes.RegisterController.create(), 'autoComplete -> "off") {

        @govukInput(Input(
            id = "email",
            name = "email",
            label = Label(content = Text("Email")),
            value = form("email").value,
            errorMessage = form("email").error.map(err => ErrorMessage(content = Text(messages("This field must not be blank")))),
            classes = "govuk-!-width-one-half",
        ))

        @govukInput(Input(
            id = "username",
            name = "username",
            label = Label(content = Text(messages("Username"))),
            value = form("username").value,
            errorMessage = form("username").error.map(err => ErrorMessage(content = Text(messages("This field must not be blank")))),
            classes = "govuk-!-width-one-half"
        ))

        @govukInput(Input(
            id = "password",
            name = "password",
            label = Label(content = Text(messages("Password"))),
            value = form("password").value,
            errorMessage = form("password").error.map(err => ErrorMessage(content = Text(messages("This field must not be blank")))),
            classes = "govuk-!-width-one-half",
            inputType = "password"
        ))

        @govukButton(
            Button(href = Some(routes.CalculatorController.index().url), content = HtmlContent("Create Account"))
        )
    }
}