@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukSelect: GovukSelect, govukButton: GovukButton, govukFieldset: GovukFieldset, govukInput: GovukInput)

<div class="govuk-width-container">
  <a href="/" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    RegisterController.create()) {
    @helper.inputText(Form(), Symbol("_label") -> "First Name *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field")

    <p class="required-field-key">* required field</p>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    }

  </main>
</div>


